flask
gunicorn
python-dotenv
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-storage
sentence-transformers
PyPDF2
PyMuPDF
pdfminer.six
numpy
psutil
tqdm
openai
